In [ ]:
# Importing all necessary libraries

import pandas as pd
pd.set_option("display.max_columns", None)
from sqlalchemy import create_engine

In [ ]:
# Importing the data from a csv into a Dataframe 

df = pd.read_csv("C:\\Data Worker Reskilling\\Projects\\TMDB + IMDB Merged Movies Dataset\\data\\raw\\TMDB_IMDB_Movies_Dataset.csv")

In [ ]:
# Checking if the data was successfully imported

df.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,budget,homepage,tconst,original_language,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords,directors,writers,averageRating,numVotes
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,160000000,https://www.warnerbros.com/movies/inception,tt1375666,en,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc...",Christopher Nolan,Christopher Nolan,8.8,2616409
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,165000000,http://www.interstellarmovie.net/,tt0816692,en,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,...",Christopher Nolan,"Jonathan Nolan, Christopher Nolan",8.7,2203559
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,185000000,https://www.warnerbros.com/movies/dark-knight/,tt0468569,en,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f...",Christopher Nolan,"Jonathan Nolan, Christopher Nolan, David S. Go...",9.0,2948574
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,237000000,https://www.avatar.com/movies/avatar,tt0499549,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ...",James Cameron,James Cameron,7.9,1409608
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,220000000,https://www.marvel.com/movies/the-avengers,tt0848228,en,The Avengers,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com...",Joss Whedon,"Joss Whedon, Zak Penn",8.0,1484397

In [ ]:
# Checking if all datatypes were infered correctly by pandas

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 432670 entries, 0 to 432669
Data columns (total 28 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    432670 non-null  int64
 1   title                 432670 non-null  object
 2   vote_average          432670 non-null  float64
 3   vote_count            432670 non-null  int64
 4   status                432670 non-null  object
 5   release_date          414810 non-null  object
 6   revenue               432670 non-null  int64
 7   runtime               432670 non-null  int64
 8   adult                 432670 non-null  bool
 9   backdrop_path         183640 non-null  object
 10  budget                432670 non-null  int64
 11  homepage              54139 non-null   object
 12  tconst                432670 non-null  object
 13  original_language     432670 non-null  object
 14  original_title        432670 non-null  object
 15  overview              391510 non-null  object
 16  popularity            432670 non-null  float64
 17  poster_path           358529 non-null  object
 18  tagline               90977 non-null   object
 19  genres                355632 non-null  object
 20  production_companies  262289 non-null  object
 21  production_countries  321707 non-null  object
 22  spoken_languages      331662 non-null  object
 23  keywords              170761 non-null  object
 24  directors             422291 non-null  object
 25  writers               365508 non-null  object
 26  averageRating         432670 non-null  float64
 27  numVotes              432670 non-null  int64
dtypes: bool(1), float64(3), int64(6), object(18)
memory usage: 89.5+ MB

In [ ]:
# Changing the Datatype of column "release_date" to its correct datatype

df["release_date"] = pd.to_datetime(df["release_date"])

In [ ]:
# Dropping unnecessary columns

df.drop("overview", axis = 1, inplace = True)

In [ ]:
# Checking the results of previous operations

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 432670 entries, 0 to 432669
Data columns (total 27 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    432670 non-null  int64
 1   title                 432670 non-null  object
 2   vote_average          432670 non-null  float64
 3   vote_count            432670 non-null  int64
 4   status                432670 non-null  object
 5   release_date          414810 non-null  datetime64[ns]
 6   revenue               432670 non-null  int64
 7   runtime               432670 non-null  int64
 8   adult                 432670 non-null  bool
 9   backdrop_path         183640 non-null  object
 10  budget                432670 non-null  int64
 11  homepage              54139 non-null   object
 12  tconst                432670 non-null  object
 13  original_language     432670 non-null  object
 14  original_title        432670 non-null  object
 15  popularity            432670 non-null  float64
 16  poster_path           358529 non-null  object
 17  tagline               90977 non-null   object
 18  genres                355632 non-null  object
 19  production_companies  262289 non-null  object
 20  production_countries  321707 non-null  object
 21  spoken_languages      331662 non-null  object
 22  keywords              170761 non-null  object
 23  directors             422291 non-null  object
 24  writers               365508 non-null  object
 25  averageRating         432670 non-null  float64
 26  numVotes              432670 non-null  int64
dtypes: bool(1), datetime64[ns](1), float64(3), int64(6), object(16)
memory usage: 86.2+ MB

In [ ]:
# Getting further info about the values 

df.describe()

,id,vote_average,vote_count,release_date,revenue,runtime,budget,popularity,averageRating,numVotes
count,4.326700e+05,432670.000000,432670.000000,414810,4.326700e+05,432670.000000,4.326700e+05,432670.000000,432670.000000,4.326700e+05
mean,4.787169e+05,3.621534,49.246516,1994-09-07 04:37:41.175959808,1.647582e+06,66.479455,6.404635e+05,2.213927,6.248531,2.814019e+03
min,2.000000e+00,0.000000,0.000000,1874-12-09 00:00:00,0.000000e+00,0.000000,0.000000e+00,0.000000,1.000000,5.000000e+00
25%,2.073162e+05,0.000000,0.000000,1979-10-04 00:00:00,0.000000e+00,15.000000,0.000000e+00,0.600000,5.500000,2.000000e+01
50%,4.136475e+05,4.667000,1.000000,2005-03-31 00:00:00,0.000000e+00,80.000000,0.000000e+00,0.865000,6.300000,5.900000e+01
75%,6.912695e+05,6.200000,6.000000,2015-10-15 00:00:00,0.000000e+00,96.000000,0.000000e+00,1.671000,7.100000,2.620000e+02
max,1.393106e+06,10.000000,34495.000000,2029-10-13 00:00:00,2.923706e+09,14400.000000,8.880000e+08,2994.357000,10.000000,2.967074e+06
std,3.439678e+05,3.142549,514.790270,NaN,2.597318e+07,63.230379,7.122106e+06,11.386221,1.315457,3.168396e+04

In [ ]:
# Getting info about the NA-values in the dataset

df.isna().sum()

id                           0
title                        0
vote_average                 0
vote_count                   0
status                       0
release_date             17860
revenue                      0
runtime                      0
adult                        0
backdrop_path           249030
budget                       0
homepage                378531
tconst                       0
original_language            0
original_title               0
popularity                   0
poster_path              74141
tagline                 341693
genres                   77038
production_companies    170381
production_countries    110963
spoken_languages        101008
keywords                261909
directors                10379
writers                  67162
averageRating                0
numVotes                     0
dtype: int64

In [ ]:
# Calculating the percentage of NA-values
# We will continue with the NA-values in this case and decide in the PostgreSQL database if and how they would impact our analysis

df.isna().mean() * 100

id                       0.000000
title                    0.000000
vote_average             0.000000
vote_count               0.000000
status                   0.000000
release_date             4.127857
revenue                  0.000000
runtime                  0.000000
adult                    0.000000
backdrop_path           57.556567
budget                   0.000000
homepage                87.487230
tconst                   0.000000
original_language        0.000000
original_title           0.000000
popularity               0.000000
poster_path             17.135692
tagline                 78.973120
genres                  17.805256
production_companies    39.378972
production_countries    25.646104
spoken_languages        23.345275
keywords                60.533201
directors                2.398826
writers                 15.522685
averageRating            0.000000
numVotes                 0.000000
dtype: float64

In [ ]:
# Extracting the main genre, main production company, main production country, main spoken language, main director and main writer out of the dataset and checking if operation was successfull

df["main_genre"] = df["genres"].str.split(",").str[0].str.strip()
df["main_production_company"] = df["production_companies"].str.split(",").str[0].str.strip()
df["main_production_country"] = df["production_countries"].str.split(",").str[0].str.strip()
df["main_spoken_language"] = df["spoken_languages"].str.split(",").str[0].str.strip()
df["main_director"] = df["directors"].str.split(",").str[0].str.strip()
df["main_writer"] = df["writers"].str.split(",").str[0].str.strip()
df.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,budget,homepage,tconst,original_language,original_title,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords,directors,writers,averageRating,numVotes,main_genre,main_production_company,main_production_country,main_spoken_language,main_director,main_writer
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,160000000,https://www.warnerbros.com/movies/inception,tt1375666,en,Inception,83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc...",Christopher Nolan,Christopher Nolan,8.8,2616409,Action,Legendary Pictures,United Kingdom,English,Christopher Nolan,Christopher Nolan
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,165000000,http://www.interstellarmovie.net/,tt0816692,en,Interstellar,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,...",Christopher Nolan,"Jonathan Nolan, Christopher Nolan",8.7,2203559,Adventure,Legendary Pictures,United Kingdom,English,Christopher Nolan,Jonathan Nolan
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,185000000,https://www.warnerbros.com/movies/dark-knight/,tt0468569,en,The Dark Knight,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f...",Christopher Nolan,"Jonathan Nolan, Christopher Nolan, David S. Go...",9.0,2948574,Drama,DC Comics,United Kingdom,English,Christopher Nolan,Jonathan Nolan
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,237000000,https://www.avatar.com/movies/avatar,tt0499549,en,Avatar,79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ...",James Cameron,James Cameron,7.9,1409608,Action,Dune Entertainment,United States of America,English,James Cameron,James Cameron
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,220000000,https://www.marvel.com/movies/the-avengers,tt0848228,en,The Avengers,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com...",Joss Whedon,"Joss Whedon, Zak Penn",8.0,1484397,Science Fiction,Marvel Studios,United States of America,English,Joss Whedon,Joss Whedon

In [ ]:
# Renaming two columns to fit the naming convention

df.rename(columns={"averageRating": "average_rating", "numVotes": "num_votes"}, inplace = True)

In [ ]:
# Checking if operation was successfull

df.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,budget,homepage,tconst,original_language,original_title,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords,directors,writers,average_rating,num_votes,main_genre,main_production_company,main_production_country,main_spoken_language,main_director,main_writer
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,160000000,https://www.warnerbros.com/movies/inception,tt1375666,en,Inception,83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc...",Christopher Nolan,Christopher Nolan,8.8,2616409,Action,Legendary Pictures,United Kingdom,English,Christopher Nolan,Christopher Nolan
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,165000000,http://www.interstellarmovie.net/,tt0816692,en,Interstellar,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,...",Christopher Nolan,"Jonathan Nolan, Christopher Nolan",8.7,2203559,Adventure,Legendary Pictures,United Kingdom,English,Christopher Nolan,Jonathan Nolan
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,185000000,https://www.warnerbros.com/movies/dark-knight/,tt0468569,en,The Dark Knight,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f...",Christopher Nolan,"Jonathan Nolan, Christopher Nolan, David S. Go...",9.0,2948574,Drama,DC Comics,United Kingdom,English,Christopher Nolan,Jonathan Nolan
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,237000000,https://www.avatar.com/movies/avatar,tt0499549,en,Avatar,79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ...",James Cameron,James Cameron,7.9,1409608,Action,Dune Entertainment,United States of America,English,James Cameron,James Cameron
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,220000000,https://www.marvel.com/movies/the-avengers,tt0848228,en,The Avengers,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com...",Joss Whedon,"Joss Whedon, Zak Penn",8.0,1484397,Science Fiction,Marvel Studios,United States of America,English,Joss Whedon,Joss Whedon

In [ ]:
# Cheking for a last time, if all datatypes are correct

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 432670 entries, 0 to 432669
Data columns (total 33 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   id                       432670 non-null  int64
 1   title                    432670 non-null  object
 2   vote_average             432670 non-null  float64
 3   vote_count               432670 non-null  int64
 4   status                   432670 non-null  object
 5   release_date             414810 non-null  datetime64[ns]
 6   revenue                  432670 non-null  int64
 7   runtime                  432670 non-null  int64
 8   adult                    432670 non-null  bool
 9   backdrop_path            183640 non-null  object
 10  budget                   432670 non-null  int64
 11  homepage                 54139 non-null   object
 12  tconst                   432670 non-null  object
 13  original_language        432670 non-null  object
 14  original_title           432670 non-null  object
 15  popularity               432670 non-null  float64
 16  poster_path              358529 non-null  object
 17  tagline                  90977 non-null   object
 18  genres                   355632 non-null  object
 19  production_companies     262289 non-null  object
 20  production_countries     321707 non-null  object
 21  spoken_languages         331662 non-null  object
 22  keywords                 170761 non-null  object
 23  directors                422291 non-null  object
 24  writers                  365508 non-null  object
 25  average_rating           432670 non-null  float64
 26  num_votes                432670 non-null  int64
 27  main_genre               355632 non-null  object
 28  main_production_company  262289 non-null  object
 29  main_production_country  321707 non-null  object
 30  main_spoken_language     331662 non-null  object
 31  main_director            422291 non-null  object
 32  main_writer              365508 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(3), int64(6), object(22)
memory usage: 106.0+ MB

In [ ]:
# Creating another version of the Dataframe for exporting

movies_complete = df

In [ ]:
# Exporting the Dataframe with all data in a csv-file and excel-file mainly as a backup

movies_complete.to_csv("C:\\Data Worker Reskilling\\Projects\\TMDB + IMDB Merged Movies Dataset\\data\\processed\\movies_complete.csv", index=False)
movies_complete.to_excel("C:\\Data Worker Reskilling\\Projects\\TMDB + IMDB Merged Movies Dataset\\data\\processed\\movies_complete.xlsx", index=False, engine="openpyxl")

In [ ]:
# Connecting to the PostgreSQL database and importing the Dataframe into it also mainly as a backup and for ad-hoc analysis

engine = create_engine("postgresql://postgres:12345678@localhost:5432/movies")
movies_complete.to_sql("movies_complete_final", engine, if_exists="replace", index=False)

40

In [ ]:
# Continuing to work on the Dataframe by dropping unneccessary columns for analytics

df.drop("vote_average", axis = 1, inplace = True)
df.drop("vote_count", axis = 1, inplace = True)
df.drop("popularity", axis = 1, inplace = True)
df.drop("backdrop_path", axis = 1, inplace = True)
df.drop("homepage", axis = 1, inplace = True)

In [ ]:
# Checking the success 

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 432670 entries, 0 to 432669
Data columns (total 28 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   id                       432670 non-null  int64
 1   title                    432670 non-null  object
 2   status                   432670 non-null  object
 3   release_date             414810 non-null  datetime64[ns]
 4   revenue                  432670 non-null  int64
 5   runtime                  432670 non-null  int64
 6   adult                    432670 non-null  bool
 7   budget                   432670 non-null  int64
 8   tconst                   432670 non-null  object
 9   original_language        432670 non-null  object
 10  original_title           432670 non-null  object
 11  poster_path              358529 non-null  object
 12  tagline                  90977 non-null   object
 13  genres                   355632 non-null  object
 14  production_companies     262289 non-null  object
 15  production_countries     321707 non-null  object
 16  spoken_languages         331662 non-null  object
 17  keywords                 170761 non-null  object
 18  directors                422291 non-null  object
 19  writers                  365508 non-null  object
 20  average_rating           432670 non-null  float64
 21  num_votes                432670 non-null  int64
 22  main_genre               355632 non-null  object
 23  main_production_company  262289 non-null  object
 24  main_production_country  321707 non-null  object
 25  main_spoken_language     331662 non-null  object
 26  main_director            422291 non-null  object
 27  main_writer              365508 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(1), int64(5), object(20)
memory usage: 89.5+ MB

In [ ]:
# Creating another Dataframe for export

movies_analytics = df

In [ ]:
# Connect to the database and importing Dataframe into it for analytics

engine = create_engine("postgresql://postgres:12345678@localhost:5432/movies")
movies_analytics.to_sql("movies_analytics_final", engine, if_exists="replace", index=False)

670